.catalog-main {
  overflow: hidden;
}

.catalog-main__wrapper {
  .content-area;
}

.catalog-main__heading {
  color: @black;
  border-bottom: 1px solid @grey;

  font-size: 36px;
  font-weight: 400;
  line-height: 1.67;

  margin: 0 0 0;
  padding: 12px 21px 31px;
}

.catalog-main__list {
  .zero;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.catalog-main__item {
  display: flex;
  flex-direction: column;
  padding: 0 20px 22px;
  border-bottom: 1px solid #d9d9d9;
}

@media(min-width: 768px) {
  .catalog-main__wrapper {
    .content-area--tablet;
    padding: 30px;
  }

  .catalog-main__heading {
    font-size: 60px;
    font-weight: 400;
    line-height: 1;

    border-bottom: none;
    padding: 0;
  }

  .catalog-main__list {
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }

  .catalog-main__item {
    width: 324px;
    flex-shrink: 1;
    box-sizing: border-box;
    margin: 0 60px 50px 0;
    padding: 0;
    border: none;
    background-image: linear-gradient(to bottom,#fff 82px,#f2f2f2 82px,#f2f2f2 100%);

    &:nth-child(even) {
      margin-right: 0;
    }
  }
}
