.contacts {
  display: flex;
  flex-direction: column;
}

.contacts--grey-bg {
  background-color: @white-two;
}


.contacts__information {
  display: flex;
  flex-direction: row;

  padding: 30px 20px;
}

.contacts__invite {
  color: @black-two;

  font-size: 16px;
  line-height: 1.25;

  margin-right: 20px;

  text-transform: uppercase;
}

.contacts__adress {
  font-family: Arial;
  font-size: 14px;
  line-height: 1.43;
}
