.live-example {
  .white-two-bg;
  padding: 20px 20px;
}

.live-example__heading {
  .black-two-text;
  font-size: 36px;
  font-weight: 300;
  line-height: 1.67;
  margin: 0 0 20px;
  padding: 0;
}

.live-example__description {
  font-family: Arial;
  font-size: 14px;
  line-height: 1.29;
  width: 270px;
  margin: 0 0 25px;
  padding: 0;
}

.live-example__cards {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 45px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.live-example__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  align-items: center;
  justify-content: space-between;
}

.live-example__indicator {
  font-size: 24px;
  line-height: 2;
  width: 124px;
  height: 56px;
  text-align: center;
  vertical-align: -webkit-baseline-middle;
  text-transform: uppercase;
  border: 1px solid #cdcdcd;
  border-radius: 3px;;
}

.live-example__addition {
  .grey-text;
  .white-two-bg;
  font-family: Arial;
  font-size: 12px;
  line-height: 1;
  width: 60px;
  margin-top: -10px;
  padding: 0;
  padding: 0 10px;
  text-align: center;
  align-items: center;
}

.live-example__cost {
  .black-two-text;
  font-size: 14px;
  line-height: 1.43;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  align-self: center;
}

.live-example__slider__label {
  .black-two-text;
  font-size: 16px;
  line-height: 1.25;
  text-transform: uppercase;
}
