.main-footer {
  color: @grey-dark;
  background-color: @grey-light;
}

.main-footer__wrapper {
  .content-area;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 38px 20px 30px;
}

.main-footer__logo {
  margin-bottom: 30px;
}

.main-footer__copyright-link {
  display: flex;
  flex-direction: row;

  width: 100%;

  text-decoration: none;

  justify-content: space-between;
  align-items: center;

  width: 100%;
  padding: 19px 0 20px;

  span {
    color: @grey-dark;

    font-family: "Arial", sans-serif;
    font-size: 16px;
    line-height: 20px;
  }

  svg {
    width: 40px;
    height: 40px;
    position: relative;
    left: 7px;
    fill: #666666;
  }
}

@media (min-width: 768px) {
  .main-footer__wrapper {
    .content-area--tablet;
    padding: 38px 30px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .main-footer__logo {
    .zero;
    width: 25%;
  }

  .main-footer__copyright-link {
    width: 25%;
    box-sizing: border-box;
    padding: 17px 0 20px 13px;
  }
}

@media (min-width: 1300px) {
  .main-footer__wrapper {
    .content-area--desktop;
    padding: 35px 40px;
  }

  .main-footer__copyright-link {
    width: 13.5%;
    margin-left: auto;
    padding: 20px 0;
  }
}
