.main-navigation {
  position: relative;
  .content-area;
}

.main-navigation__toggle {
  .zero;
  position: absolute;
  top: -55px;
  right: 0;
  width: 65px;
  height: 40px;
  padding: 0 20px;
  border: none;
  box-shadow: none;
  box-sizing: border-box;
  background-color: transparent;
  cursor: pointer;

  span {
    position: relative;
    display: block;

    width: 24px;
    height: 2px;
    padding: 0;
    font-size: 0;

    background-color: @black-light;

    &::before {
      position: absolute;
      top: -8px;
      left: 0;

      width: 24px;
      height: 2px;

      content: "";

      background-color: @black-light;
    }

    &::after {
      position: absolute;
      top: 8px;
      left: 0;

      width: 24px;
      height: 2px;

      content: "";

      background-color: @black-light;
    }
  }

  &--open {
    span {
      background-color: transparent;

      &::before {
        transform: rotate(45deg);
        top: -1px;
      }

      &::after {
        transform: rotate(-45deg);
        top: -1px;
      }
    }
  }
}

.main-navigation__list {
  display: none;
}

.main-navigation__list.site-list.list-show {
  display: inherit;
}

@media (min-width: 768px) {
  .main-navigation {
    width: auto;
    margin: 0;
  }

  .main-navigation__toggle {
    display: none;
  }

  .main-navigation__list {
    display: flex;
    flex-direction: row;
    min-width: 440px;
  }
}
