.programs {
  .zero;
}

.programs__wrapper {
  .content-area;
  padding: 0 20px;
}

.programs__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.programs__item {
  background-color: @grey-light;

  margin: 0;
  margin-bottom: 20px;
  padding: 27px 20px 21px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.programs__heading {
  font-size: 24px;
  font-weight: 200;
  line-height: 1.64;

  position: relative;

  margin: 0;
  margin-bottom: 29px;
  padding: 0;
  padding-left: 70px;

  vertical-align: middle;
  text-transform: uppercase;
}


.programs__icon {
  background-color: @leaf-green;

  position: absolute;
  top: -5px;
  left: 2px;

  width: 50px;
  height: 51px;

  border-radius: 50%;
}

.programs__icon--slim {
  &::after {
    position: absolute;
    top: -2px;
    left: 3px;

    display: inline-block;

    width: 45px;
    height: 50px;

    content: "";

    background-image: url("../img/icon-cat-slim.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.programs__icon--pro {
  &::after {
    position: absolute;
    top: 12px;
    left: -9px;

    display: inline-block;

    width: 67px;
    height: 28px;

    content: "";

    background-image: url("../img/icon-cat-pro.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }
}

.programs__description {
  font-family: "Arial", sans-serif;
  color: @grey-dark;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;

  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  padding-bottom: 23px;

  border-bottom: 1px solid #d9d9d9;
}

.programs__link {
  color: @black;

  font-size: 16px;
  line-height: 1;

  position: relative;

  padding-right: 35px;

  text-decoration: none;
  text-transform: uppercase;

  &::after {
    position: absolute;
    top: 6px;
    right: 0;

    width: 25px;
    height: 12px;

    content: "";

    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }
}

@media (min-width: 768px) {
  .programs__wrapper {
    .content-area--tablet;
    padding: 0 30px;
    margin-bottom: 45px;
  }

  .programs__item {
    padding: 76px 53px 58px;
    margin-bottom: 30px;
    min-height: 372px;
    box-sizing: border-box;
  }

  .programs__heading {
    font-size: 36px;
    font-weight: 400;
    line-height: 1.03;
    padding: 0;
    margin-bottom: 25px;
  }

  .programs__icon {
    width: 200px;
    height: 200px;
    left: auto;
    right: 10px;
    top: 16px;
  }

  .programs__icon--slim {
    &::after {
      width: 140px;
      height: 194px;
      top: -12px;
      left: 30px;
    }
  }

  .programs__icon--pro {
    &::after {
      width: 268px;
      height: 112px;
      top: 43px;
      left: -35px;
    }
  }

  .programs__description {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    width: 375px;
    padding-bottom: 40px;
    border: none;

    &--pro {
      width: 340px;
    }
  }

  .programs__link {
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
    padding-right: 45px;

    &::after {
      top: 10px;
    }
  }
}

@media (min-width: 1220px) {
  .programs__wrapper {
    .content-area--desktop;
    padding: 0;
    margin-bottom: 73px;
  }

  .programs__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .programs__item {
    width: calc((50% - 40px));
    margin-right: 80px;
    margin-bottom: 0;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  .programs__heading {
    padding-left: 160px;
    margin-bottom: 72px;
  }

  .programs__icon {
    width: 100px;
    height: 100px;
    top: -31px;
    left: 0;
    right: auto;
  }

  .programs__icon--slim {
    &::after {
      top: -2px;
      left: 3px;
      width: 90px;
      height: 96px;
    }
  }

  .programs__icon--pro {
    &::after {
      width: 134px;
      height: 57px;
      top: 23px;
      left: -19px;
    }
  }

  .programs__description {
    width: 465px;
    padding-bottom: 17px;
  }
}
