.promo {
  padding: 26px 20px;
  text-align: center;
  background: @white url("../img/index-background-mobile@1x.jpg") 0 0 no-repeat;
}

.promo__heading {
  color: @white;
  font-size: 36px;
  font-weight: 300;
  line-height: 1;
  margin: 0 0 25px;
  padding: 0;
}

.promo__slogan {
  color: @white;
  font-size: 14px;
  margin: 0 0 27px;
  text-transform: uppercase;
}

.promo__btn {
  font-size: 14px;
  width: 280px;
  height: 40px;
  padding: 12px 0;
}
