.promo {
  padding: 26px 20px;
  text-align: center;
  background-image: linear-gradient(to top, @white 40%, transparent 40%), url("../img/index-background-mobile@1x.jpg");
  background-size: auto, 320px auto;
  background-repeat: no-repeat, no-repeat;
  background-position: center bottom, center top;
  background-color: @leaf-green;
}

.promo__heading {
  color: @white;
  font-size: 36px;
  font-weight: 300;
  line-height: 1;
  margin: 0 0 25px;
  padding: 0;
}

.promo__slogan {
  color: @white;
  font-size: 14px;
  margin: 0 0 27px;
  text-transform: uppercase;
}

.promo__image {
  margin: 0 auto;
  display: block;
}

.promo__btn {
  font-size: 14px;
  width: 100%;
  height: 40px;
  padding: 12px 0;
}
