.promo {
  background-image: linear-gradient(to top, @white 40%, transparent 40%), url("../img/index-background-mobile@1x.jpg");
  background-size: auto, 320px auto;
  background-repeat: no-repeat, no-repeat;
  background-position: center bottom, center top;
  background-color: #65a93c;
}

@media (-webkit-min-device-pixel-ratio: 1.5),
(min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .promo {
    background-image: linear-gradient(to top, @white 40%, transparent 40%), url("../img/index-background-mobile@2x.jpg");
  }
}

.promo__wrapper {
  .content-area;
  box-sizing: border-box;
  padding: 26px 20px;
  text-align: center;
}

.promo__heading {
  color: @white;
  font-size: 36px;
  font-weight: 300;
  line-height: 1;
  margin: 0 0 25px;
  padding: 0;
}

.promo__slogan {
  color: @white;
  font-size: 14px;
  margin: 0 0 27px;
  text-transform: uppercase;
}

.promo__image {
  margin: 0 auto;
  display: block;
}

.promo__btn {
  width: 100%;
}

@media (min-width: 768px) {
  .promo {
    background-image: none;
    background-color: @white;

    position: relative;
    min-height: 855px;
    margin-bottom: 0;
    padding-top: 30px;
    box-sizing: border-box;
  }

  .promo__wrapper {
    .content-area--tablet;
    position: relative;
    text-align: left;
    padding: 0 30px 545px;
  }

  .promo__heading {
    color: @black;
    width: 490px;
    margin: 0 0 40px 86px;
    font-size: 60px;
    line-height: 1;
    text-align: left;
    position: relative;
    z-index: 2;
  }

  .promo__slogan {
    color: @black;
    width: 490px;
    margin: 0 0 48px 86px;
    text-align: left;
    font-size: 20px;
    line-height: 1;
    position: relative;
    z-index: 2;
  }

  .promo__image {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 633px;
    height: auto;
    transform: translateX(-50%);
  }

  .promo__btn {
    position: relative;
    z-index: 2;
    margin: 0 0 0 88px;
    width: auto;
  }
}

@media (min-width: 1300px) {
  .promo {
    min-height: 676px;
    padding-top: 202px;
    margin-bottom: 80px;
    background-color: @white;
    background-image: url("../img/index-background-desktop@1x.jpg"), linear-gradient(to right, @white 50%, #65a93c 50%);
    background-size: 680px auto, auto;
    background-repeat: no-repeat, no-repeat;
    background-position: 100% 100%, 0 0;
  }

  .promo__wrapper {
    .content-area--desktop;
    padding: 0 40px 140px;
  }

  .promo__heading {
    margin: 0 0 42px 82px;
  }

  .promo__slogan {
    margin: 0 0 52px 81px;
  }

  .promo__image {
    top: -75px;
    left: 487px;
    width: 522px;
    height: auto;
    transform: none;
  }

  .promo__btn {
    margin: 0 0 0 81px;
  }
}

@media (min-resolution: 144dpi) and (min-width: 1300px),
(min-resolution: 1.5dppx) and (min-width: 1300px) {
  .promo {
    background-image: url("../img/index-background-desktop@2x.jpg"), linear-gradient(to right, @white 50%, #65a93c 50%);
    background-size: 680px auto, auto;
  }
}
