.zero {
  margin: 0;
  padding: 0;
}

.content-area {
  width: 320px;
  margin: 0 auto;
  box-sizing: border-box;
}

.content-area--tablet {
  width: 768px;
}

.content-area--desktop {
  width: 1200px;
}

