@import "fonts.less";
@import "normalize.less";
@import "mixins.less";

@import "blocks/contacts.less";
@import "blocks/catalog.less";
@import "blocks/catalog-extra.less";
@import "blocks/catalog_general.less";
@import "blocks/catalog-show-more.less";
@import "blocks/form.less";
@import "blocks/header.less";
@import "blocks/how-it-works.less";
@import "blocks/live-example.less";
@import "blocks/main-footer.less";
@import "blocks/present.less";
@import "blocks/programs.less";
@import "blocks/promo.less";
@import "blocks/social-links.less";
@import "blocks/standart-btn.less";


.visually-hidden {
  position: absolute;

  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
}

body {
  .mobile;
  .white-bg;
  .black-two-text;
  font-family: 'Oswald', 'Arial', sans-serif;
}
